@charset "UTF-8";

@font-face {
    font-family: CoffeCake;
    src: url(fonts/CoffeCake.otf) format('opentype'), url(fonts/CoffeCake.ttf) format(truetype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C1D7AE;
    margin: 0px;
}

h1 {
    font-family: CoffeCake, sans-serif;
    font-size: 4em;
}

header {
    background-color: white;
    padding: 10px;
    margin: 0px;
}

nav {
    background-color: #968E85;
    padding: 10px;
    text-align: right;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.386);
    border-radius: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

a:hover {
    color: #668b60;
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.167);
}

article {
    background-color: #8CC084;
    padding: 10px;
    margin: 15px 5px;
    border-radius: 30px 10px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.167);
}

article > aside {
    background-color: #668b60;
    text-align: right;
    padding: 1px 10px 1px 0px;
    margin: -10px;

}

aside {
    background-color: #ECDCB0;
    padding: 10px;
    margin: 15px 5px;
    border-radius: 30px 10px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.167);
}

aside > p {
    padding: 2px;
}

h1, h2, h3 {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

h2#citacao {
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

p {
    margin: 0;
    text-indent: 15px;
}